<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-registered-user-heading">Create or edit a Registered User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!registeredUser.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="registeredUser.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_profilePic">Profile Pic</label>
                    <div>
                        <div *ngIf="registeredUser.profilePic" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(registeredUser.profilePicContentType, registeredUser.profilePic)">open</a><br>
                            <span class="pull-left">{{registeredUser.profilePicContentType}}, {{byteSize(registeredUser.profilePic)}}</span>
                            <button type="button" (click)="registeredUser.profilePic=null;registeredUser.profilePicContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_profilePic" (change)="setFileData($event, registeredUser, 'profilePic', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="profilePic" id="field_profilePic"
                        [(ngModel)]="registeredUser.profilePic" />
                    <input type="hidden" class="form-control" name="profilePicContentType" id="field_profilePicContentType"
                        [(ngModel)]="registeredUser.profilePicContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="registeredUser.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
