<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="registeredUser">
            <h2><span>Registered User</span> {{registeredUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Profile Pic</span></dt>
                <dd>
                    <div *ngIf="registeredUser.profilePic">
                        <a (click)="openFile(registeredUser.profilePicContentType, registeredUser.profilePic)">open</a>
                        {{registeredUser.profilePicContentType}}, {{byteSize(registeredUser.profilePic)}}
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{registeredUser.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/registered-user', registeredUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
