######################
# Project Specific
######################
KarmaApp/target/www/**
KarmaApp/src/test/javascript/coverage/

######################
# Node
######################
KarmaApp/node/
KarmaApp/node_tmp/
KarmaApp/node_modules/
KarmaApp/npm-debug.log.*
KarmaApp/.awcache/*
KarmaApp/.cache-loader/*
######################
# Resources
######################
#KarmaApp/src/main/resources/static/uploadedfiles/
######################
# SASS
######################
KarmaApp/.sass-cache/

######################
# Eclipse
######################
KarmaApp/*.pydevproject
KarmaApp/.project
KarmaApp/.metadata
KarmaApp/tmp/
KarmaApp/tmp/**/*
KarmaApp/*.tmp
KarmaApp/*.bak
KarmaApp/*.swp
KarmaApp/*~.nib
KarmaApp/local.properties
KarmaApp/.classpath
KarmaApp/.settings/
KarmaApp/.loadpath
KarmaApp/.factorypath
KarmaApp/src/main/resources/rebel.xml

# External tool builders
KarmaApp/.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
KarmaApp/*.launch

# CDT-specific
KarmaApp/.cproject

# PDT-specific
KarmaApp/.buildpath

######################
# Intellij
######################
KarmaApp/.idea/
KarmaApp/*.iml
KarmaApp/*.iws
KarmaApp/*.ipr
KarmaApp/*.ids
KarmaApp/*.orig
KarmaApp/classes/
KarmaApp/out/

######################
# Visual Studio Code
######################
KarmaApp/.vscode/

######################
# Maven
######################
KarmaApp/log/
KarmaApp/target/

######################
# Gradle
######################
KarmaApp/.gradle/
KarmaApp/build/

######################
# Package Files
######################
KarmaApp/*.jar
KarmaApp/*.war
KarmaApp/*.ear
KarmaApp/*.db

######################
# Windows
######################
# Windows image file caches
KarmaApp/Thumbs.db

# Folder config file
KarmaApp/Desktop.ini

######################
# Mac OSX
######################
KarmaApp/.DS_Store
KarmaApp/.svn

# Thumbnails
KarmaApp/._*

# Files that might appear on external disk
KarmaApp/.Spotlight-V100
KarmaApp/.Trashes

######################
# Directories
######################
KarmaApp/bin/
KarmaApp/deploy/

######################
# Logs
######################
KarmaApp/*.log*

######################
# Others
######################
KarmaApp/*.class
KarmaApp/*.*~
KarmaApp/*~
KarmaApp/.merge_file*

######################
# Gradle Wrapper
######################
KarmaApp/!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
KarmaApp/!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
KarmaApp/.eslintcache

######################
# Project Specific
######################
XapiLaunchKarma/target/www/**
XapiLaunchKarma/src/test/javascript/coverage/

######################
# Node
######################
XapiLaunchKarma/node/
XapiLaunchKarma/node_tmp/
XapiLaunchKarma/node_modules/
XapiLaunchKarma/npm-debug.log.*
XapiLaunchKarma/.awcache/*
XapiLaunchKarma/.cache-loader/*

######################
# SASS
######################
XapiLaunchKarma/.sass-cache/

######################
# Eclipse
######################
XapiLaunchKarma/*.pydevproject
XapiLaunchKarma/.project
XapiLaunchKarma/.metadata
XapiLaunchKarma/tmp/
XapiLaunchKarma/tmp/**/*
XapiLaunchKarma/*.tmp
XapiLaunchKarma/*.bak
XapiLaunchKarma/*.swp
XapiLaunchKarma/*~.nib
XapiLaunchKarma/local.properties
XapiLaunchKarma/.classpath
XapiLaunchKarma/.settings/
XapiLaunchKarma/.loadpath
XapiLaunchKarma/.factorypath
XapiLaunchKarma/src/main/resources/rebel.xml

# External tool builders
XapiLaunchKarma/.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
XapiLaunchKarma/*.launch

# CDT-specific
XapiLaunchKarma/.cproject

# PDT-specific
XapiLaunchKarma/.buildpath

######################
# Intellij
######################
XapiLaunchKarma/.idea/
XapiLaunchKarma/*.iml
XapiLaunchKarma/*.iws
XapiLaunchKarma/*.ipr
XapiLaunchKarma/*.ids
XapiLaunchKarma/*.orig
XapiLaunchKarma/classes/
XapiLaunchKarma/out/

######################
# Visual Studio Code
######################
XapiLaunchKarma/.vscode/

######################
# Maven
######################
XapiLaunchKarma/log/
XapiLaunchKarma/target/

######################
# Gradle
######################
XapiLaunchKarma/.gradle/
XapiLaunchKarma/build/

######################
# Package Files
######################
XapiLaunchKarma/*.jar
XapiLaunchKarma/*.war
XapiLaunchKarma/*.ear
XapiLaunchKarma/*.db

######################
# Windows
######################
# Windows image file caches
XapiLaunchKarma/Thumbs.db

# Folder config file
XapiLaunchKarma/Desktop.ini

######################
# Mac OSX
######################
XapiLaunchKarma/.DS_Store
XapiLaunchKarma/.svn

# Thumbnails
XapiLaunchKarma/._*

# Files that might appear on external disk
XapiLaunchKarma/.Spotlight-V100
XapiLaunchKarma/.Trashes

######################
# Directories
######################
XapiLaunchKarma/bin/
XapiLaunchKarma/deploy/

######################
# Logs
######################
XapiLaunchKarma/*.log*

######################
# Others
######################
XapiLaunchKarma/*.class
XapiLaunchKarma/*.*~
XapiLaunchKarma/*~
XapiLaunchKarma/.merge_file*

######################
# Gradle Wrapper
######################
XapiLaunchKarma/!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
XapiLaunchKarma/!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
XapiLaunchKarma/.eslintcache

######################
# Project OpenLRW
######################
OpenLRW/target/
