<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="completedActivity">
            <h2><span>Completed Activity</span> {{completedActivity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Registered User</span></dt>
                <dd>
                    <div *ngIf="completedActivity.registeredUserId">
                        <a [routerLink]="['/registered-user', completedActivity.registeredUserId, 'view']">{{completedActivity.registeredUserId}}</a>
                    </div>
                </dd>
                <dt><span>Activity</span></dt>
                <dd>
                    <div *ngIf="completedActivity.activityId">
                        <a [routerLink]="['/activity', completedActivity.activityId, 'view']">{{completedActivity.activityId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/completed-activity', completedActivity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
