<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contentRecord">
            <h2><span>Content Record</span> {{contentRecord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Icon URL</span></dt>
                <dd>
                    <span>{{contentRecord.iconURL}}</span>
                </dd>
                <dt><span>Package Link</span></dt>
                <dd>
                    <span>{{contentRecord.packageLink}}</span>
                </dd>
                <dt><span>Launch Type</span></dt>
                <dd>
                    <span>{{contentRecord.launchType}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    <span>{{contentRecord.owner}}</span>
                </dd>
                <dt><span>Accessed</span></dt>
                <dd>
                    <span>{{contentRecord.accessed}}</span>
                </dd>
                <dt><span>Created</span></dt>
                <dd>
                    <span>{{contentRecord.created}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{contentRecord.description}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{contentRecord.title}}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{contentRecord.url}}</span>
                </dd>
                <dt><span>V</span></dt>
                <dd>
                    <span>{{contentRecord.v}}</span>
                </dd>
                <dt><span>Launches</span></dt>
                <dd>
                    <span>{{contentRecord.launches}}</span>
                </dd>
                <dt><span>Custom Data</span></dt>
                <dd>
                    <span>{{contentRecord.customData}}</span>
                </dd>
                <dt><span>Media Type Key</span></dt>
                <dd>
                    <span>{{contentRecord.mediaTypeKey}}</span>
                </dd>
                <dt><span>Public Key</span></dt>
                <dd>
                    <span>{{contentRecord.publicKey}}</span>
                </dd>
                <dt><span>Session Length</span></dt>
                <dd>
                    <span>{{contentRecord.sessionLength}}</span>
                </dd>
                <dt><span>Time To Consume</span></dt>
                <dd>
                    <span>{{contentRecord.timeToConsume}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/content-record', contentRecord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
