<div>
    <h2 id="page-heading">
        <span>Content Records</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-content-record" [routerLink]="['/content-record/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Content Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contentRecords">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iconURL"><span>Icon URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="packageLink"><span>Package Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="launchType"><span>Launch Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="owner"><span>Owner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accessed"><span>Accessed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span>Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span>Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span>Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="v"><span>V</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="launches"><span>Launches</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customData"><span>Custom Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mediaTypeKey"><span>Media Type Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publicKey"><span>Public Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sessionLength"><span>Session Length</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timeToConsume"><span>Time To Consume</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contentRecord of contentRecords ;trackBy: trackId">
                <td><a [routerLink]="['/content-record', contentRecord.id, 'view' ]">{{contentRecord.id}}</a></td>
                <td>{{contentRecord.iconURL}}</td>
                <td>{{contentRecord.packageLink}}</td>
                <td>{{contentRecord.launchType}}</td>
                <td>{{contentRecord.owner}}</td>
                <td>{{contentRecord.accessed | date:'medium'}}</td>
                <td>{{contentRecord.created | date:'medium'}}</td>
                <td>{{contentRecord.description}}</td>
                <td>{{contentRecord.title}}</td>
                <td>{{contentRecord.url}}</td>
                <td>{{contentRecord.v}}</td>
                <td>{{contentRecord.launches}}</td>
                <td>{{contentRecord.customData}}</td>
                <td>{{contentRecord.mediaTypeKey}}</td>
                <td>{{contentRecord.publicKey}}</td>
                <td>{{contentRecord.sessionLength}}</td>
                <td>{{contentRecord.timeToConsume}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/content-record', contentRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/content-record', contentRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'content-record/'+ contentRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="contentRecords && contentRecords.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
