<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="committedActivity">
            <h2><span>Committed Activity</span> {{committedActivity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{committedActivity.description}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{committedActivity.status}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{committedActivity.createdDate}}</span>
                </dd>
                <dt><span>Activity</span></dt>
                <dd>
                    <div *ngIf="committedActivity.activityId">
                        <a [routerLink]="['/activity', committedActivity.activityId, 'view']">{{committedActivity.activityId}}</a>
                    </div>
                </dd>
                <dt><span>Registered User</span></dt>
                <dd>
                    <div *ngIf="committedActivity.registeredUserId">
                        <a [routerLink]="['/registered-user', committedActivity.registeredUserId, 'view']">{{committedActivity.registeredUserId}}</a>
                    </div>
                </dd>
                <dt><span>Reference</span></dt>
                <dd>
                    <div *ngIf="committedActivity.referenceId">
                        <a [routerLink]="['/committed-activity', committedActivity.referenceId, 'view']">{{committedActivity.referenceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/committed-activity', committedActivity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
