<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="instructionVideo">
            <h2><span>Instruction Video</span> {{instructionVideo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>File Name</span></dt>
                <dd>
                    <span>{{instructionVideo.fileName}}</span>
                </dd>
                <dt><span>File</span></dt>
                <dd>
                    <div *ngIf="instructionVideo.file">
                        <a (click)="openFile(instructionVideo.fileContentType, instructionVideo.file)">open</a>
                        {{instructionVideo.fileContentType}}, {{byteSize(instructionVideo.file)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/instruction-video', instructionVideo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
